body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    

  }

  .bg {
    /* The image used */
    
    /*background-image: url("../static/images/back.jpg");*/
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  